.documentTitle {
  color: navy;
  font-style: oblique;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  padding: 10px;
  width: 33%;
}

.header {
  color: orange;
}

#selectSuggestion {
  width: 100%;
}

#optionsSelect {
  width: 100%;
}

#imghtml {
  max-width: 70%;
}

.searchBorder {
  color: orange;
}
